<div style="text-align:center">
  <h1>
    {{pageTitle}}
  </h1>

  <img width = '400' src = '../assets/img/golfcourse.jpg'/>


  <mat-form-field>
    <mat-select placeholder="Select Course">
      <mat-option *ngFor="let course of cardCourses" (click)="setCourse(course)" [value]="course.name">
        {{course.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>



  <mat-form-field *ngIf="selectedCourse">
    <mat-select  placeholder="Select Tee Type">
      <mat-option *ngFor="let tee of selectedCourse.course.tee_types" (click)="setTeeType(tee.tee_type)" [value]="tee.tee_type">
        {{tee.tee_type}}
      </mat-option>
    </mat-select>
  </mat-form-field>


</div>
<button mat-button>START GAME</button>
